Node-RED/Flower Flow (JSON)
[
    {
        "id": "bf664f9e.1201b8",
        "type": "tab",
        "label": "Prototype",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d145603.4507b",
        "type": "mqtt in",
        "z": "bf664f9e.1201b8",
        "name": "Uplink Prototype",
        "topic": "v3/robotic-flower2/devices/flower-prototype2/up",
        "qos": "1",
        "datatype": "auto",
        "broker": "c0072397.aa5ca",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "7ecde01c.fd072"
            ]
        ]
    },
    {
        "id": "dc8d2020.397f88",
        "type": "function",
        "z": "bf664f9e.1201b8",
        "name": "Uplink decoder",
        "func": "// \"v3/robotic-flower2/devices/flower-prototype2/up\"\n\nvar buf = Buffer.from(msg.payload.uplink_message.frm_payload,'base64');\nvar decoded = {};\n\ndecoded.battery = buf.readUint16LE(0)/100;\n\nvar binary = buf.readUInt8(2).toString(2).split('').map(function(s) { return parseInt(s); });\n\ndecoded.queueIsFull = binary[4]; //bit 4\ndecoded.sendDuringVisit = binary[3]; //bit 3\ndecoded.batteryWarning = binary[2]; //bit 2\ndecoded.possibleObstruction = binary[1]; //bit 1\n\nif (buf.length > 3){\n    var timeBeforeSend = {};\n    var visitDuration = {};\n    for (let i = 1;i < ((buf.length-3)/3+1);i++) {\n        timeBeforeSend[i] = buf.readUint16LE(i*3);\n        visitDuration[i] = buf.readUint8(i*3+2);\n    }\n}\n\nvar newmsg = {};\nnewmsg.application = msg.payload.end_device_ids.application_ids.application_id;\nnewmsg.device = msg.payload.end_device_ids.device_id;\nnewmsg.port = msg.payload.uplink_message.f_port\nnewmsg.time = msg.payload.received_at;\nnewmsg.payload = decoded;\nnewmsg.dataSize = buf.length; \nnewmsg.timeBeforeSend = timeBeforeSend\nnewmsg.visitDuration = visitDuration;\n\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n",
        "finalize": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4d7dd8bb.b41778",
                "d01b6a7c.e878",
                "a366e6d.ff36918",
                "ea681bd3.727658",
                "f949e673.5dea4",
                "433dbb11.8e73bc",
                "74b31d95.a9333c",
                "8a45a9aa.aeece",
                "ecdd4c84.c0de8"
            ]
        ]
    },
    {
        "id": "4d7dd8bb.b41778",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "Decoded",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "7ecde01c.fd072",
        "type": "json",
        "z": "bf664f9e.1201b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "dc8d2020.397f88",
                "659c2d6c.78db9c"
            ]
        ]
    },
    {
        "id": "d01b6a7c.e878",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "battery",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "9f18f40e.22ef6",
                "8fe93d1f.216d1"
            ]
        ]
    },
    {
        "id": "9f18f40e.22ef6",
        "type": "ui_chart",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "52a0f531.543efc",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "2.2",
        "ymax": "4.2",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 430,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8fe93d1f.216d1",
        "type": "ui_gauge",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "52a0f531.543efc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Volt",
        "format": "{{value}}",
        "min": "2.5",
        "max": "4.2",
        "colors": [
            "#b21f05",
            "#e6e600",
            "#1baa07"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "a366e6d.ff36918",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "queueIsFull",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.queueIsFull",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 520,
        "wires": [
            [
                "875b136d.72882"
            ]
        ]
    },
    {
        "id": "ea681bd3.727658",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "sendDuringVisit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sendDuringVisit",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "cdd97bd1.bb7ef"
            ]
        ]
    },
    {
        "id": "f949e673.5dea4",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "batteryWarning",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.batteryWarning",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "b8c6008b.bbb008"
            ]
        ]
    },
    {
        "id": "433dbb11.8e73bc",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "possibleObstruction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.possibleObstruction",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "d394acb5.3f0c98"
            ]
        ]
    },
    {
        "id": "875b136d.72882",
        "type": "ui_gauge",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "fa4b2458.58f39",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Queue is full",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "cdd97bd1.bb7ef",
        "type": "ui_gauge",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "fa4b2458.58f39",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Send during visit",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "b8c6008b.bbb008",
        "type": "ui_gauge",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "fa4b2458.58f39",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Battery Warning",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "d394acb5.3f0c98",
        "type": "ui_gauge",
        "z": "bf664f9e.1201b8",
        "name": "",
        "group": "fa4b2458.58f39",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Possible obstruction",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "74b31d95.a9333c",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "ac05d14.2d4bc3",
                "c2b1823a.1c07f"
            ]
        ]
    },
    {
        "id": "ac05d14.2d4bc3",
        "type": "ui_text",
        "z": "bf664f9e.1201b8",
        "group": "fa4b2458.58f39",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Received:",
        "format": "{{msg.payload | date:'medium'}}",
        "layout": "row-center",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "c2b1823a.1c07f",
        "type": "ui_text",
        "z": "bf664f9e.1201b8",
        "group": "52a0f531.543efc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Received:",
        "format": "{{msg.payload | date:'medium'}}",
        "layout": "row-center",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "b50b6f6c.12454",
        "type": "link out",
        "z": "bf664f9e.1201b8",
        "name": "Auto Logger",
        "links": [
            "f4879cf0.698a28",
            "f390bbd3.d7e4d8"
        ],
        "x": 715,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c579745.7be0d",
        "type": "mqtt out",
        "z": "bf664f9e.1201b8",
        "name": "Downlink Prototype",
        "topic": "v3/robotic-flower2/devices/flower-prototype2/down/replace",
        "qos": "0",
        "retain": "",
        "broker": "c0072397.aa5ca",
        "x": 570,
        "y": 80,
        "wires": [],
        "inputLabels": [
            "msg.payload"
        ]
    },
    {
        "id": "a6a813b5.feb9b8",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "Downlink",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a20a6c3.c3f638",
        "type": "function",
        "z": "bf664f9e.1201b8",
        "name": "",
        "func": "var device = msg.device\n//put visitDuration in array\nvar visitDurationObject = msg.visitDuration;\nvar visitDuration = Object.values(visitDurationObject);\n\n//put timeBeforeSend in array\nvar timeBeforeSendObject = msg.timeBeforeSend;\nvar timeBeforeSend = Object.values(timeBeforeSendObject);\n\n//change timeBeforeSend to visitTime\nvar sendTime = new Date(msg.time);\nvar h = sendTime.getHours();\nvar min = sendTime.getMinutes();\nvar sec = sendTime.getSeconds();\nvar sendTimeInSec = h*3600+min*60+sec;\nvar visitTime =[];\n\n\ntimeBeforeSend.forEach(function(e){\n    var receivedTimeInSec = sendTimeInSec - e;\n    var date = new Date(0);\n    date.setSeconds(receivedTimeInSec);\n    visitTime.push(date.toISOString().substr(11, 8));\n})\n\nmsg.visitTime = visitTime;\nmsg.visitDuration = visitDuration;\nmsg.device = device;\nmsg.arrayLength = visitTime.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b50b6f6c.12454",
                "20a1744c.6de23c",
                "c1fa17b2.d34a5",
                "44f5785b.87e95"
            ]
        ]
    },
    {
        "id": "8a45a9aa.aeece",
        "type": "switch",
        "z": "bf664f9e.1201b8",
        "name": "Check port",
        "property": "port",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "9b1b6024.d4d908"
            ]
        ],
        "info": "No use to continue this of flower in sleep mode (port 2)"
    },
    {
        "id": "20a1744c.6de23c",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "visitTime",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "visitTime",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "c1fa17b2.d34a5",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "visitDuration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "visitDuration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "ecdd4c84.c0de8",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "44f5785b.87e95",
        "type": "debug",
        "z": "bf664f9e.1201b8",
        "name": "arrayLength",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "arrayLength",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b1b6024.d4d908",
        "type": "switch",
        "z": "bf664f9e.1201b8",
        "name": "",
        "property": "visitDuration",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "4a20a6c3.c3f638"
            ]
        ]
    },
    {
        "id": "65275693.ec2db",
        "type": "ui_dropdown",
        "z": "bf664f9e.1201b8",
        "name": "",
        "label": "Going to Sleep at:",
        "tooltip": "",
        "place": "Select time",
        "group": "3fa0f04f.4a72c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "1 a.m.",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 a.m.",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 a.m.",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4 a.m.",
                "value": 4,
                "type": "num"
            },
            {
                "label": "5 a.m.",
                "value": 5,
                "type": "num"
            },
            {
                "label": "6 a.m.",
                "value": 6,
                "type": "num"
            },
            {
                "label": "7 a.m.",
                "value": 7,
                "type": "num"
            },
            {
                "label": "8 a.m.",
                "value": 8,
                "type": "num"
            },
            {
                "label": "9 a.m.",
                "value": 9,
                "type": "num"
            },
            {
                "label": "10 a.m.",
                "value": 10,
                "type": "num"
            },
            {
                "label": "11 a.m.",
                "value": 11,
                "type": "num"
            },
            {
                "label": "12 noon",
                "value": 12,
                "type": "num"
            },
            {
                "label": "1 p.m. (13)",
                "value": 13,
                "type": "num"
            },
            {
                "label": "2 p.m. (14)",
                "value": 14,
                "type": "num"
            },
            {
                "label": "3 p.m. (15)",
                "value": 15,
                "type": "num"
            },
            {
                "label": "4 p.m. (16)",
                "value": 16,
                "type": "num"
            },
            {
                "label": "5 p.m. (17)",
                "value": 17,
                "type": "num"
            },
            {
                "label": "6 p.m. (18)",
                "value": 18,
                "type": "num"
            },
            {
                "label": "7 p.m. (19)",
                "value": 19,
                "type": "num"
            },
            {
                "label": "8 p.m. (20)",
                "value": 20,
                "type": "num"
            },
            {
                "label": "9 p.m. (21)",
                "value": 21,
                "type": "num"
            },
            {
                "label": "10 p.m. (22)",
                "value": 22,
                "type": "num"
            },
            {
                "label": "11 p.m. (23)",
                "value": 23,
                "type": "num"
            },
            {
                "label": "12 midnight",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "sleep_time",
        "topicType": "msg",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "9983b0d8.92bd58"
            ]
        ]
    },
    {
        "id": "b7b53260.38a328",
        "type": "ui_dropdown",
        "z": "bf664f9e.1201b8",
        "name": "",
        "label": "Waking up at:",
        "tooltip": "",
        "place": "Select time",
        "group": "3fa0f04f.4a72c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 a.m.",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 a.m.",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 a.m.",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4 a.m.",
                "value": 4,
                "type": "num"
            },
            {
                "label": "5 a.m.",
                "value": 5,
                "type": "num"
            },
            {
                "label": "6 a.m.",
                "value": 6,
                "type": "num"
            },
            {
                "label": "7 a.m.",
                "value": 7,
                "type": "num"
            },
            {
                "label": "8 a.m.",
                "value": 8,
                "type": "num"
            },
            {
                "label": "9 a.m.",
                "value": 9,
                "type": "num"
            },
            {
                "label": "10 a.m.",
                "value": 10,
                "type": "num"
            },
            {
                "label": "11 a.m.",
                "value": 11,
                "type": "num"
            },
            {
                "label": "12 noon",
                "value": 12,
                "type": "num"
            },
            {
                "label": "1 p.m.",
                "value": 13,
                "type": "num"
            },
            {
                "label": "2 p.m.",
                "value": 14,
                "type": "num"
            },
            {
                "label": "3p.m.",
                "value": 15,
                "type": "num"
            },
            {
                "label": "4 p.m.",
                "value": 16,
                "type": "num"
            },
            {
                "label": "5 p.m.",
                "value": 17,
                "type": "num"
            },
            {
                "label": "6 p.m.",
                "value": 18,
                "type": "num"
            },
            {
                "label": "7 p.m.",
                "value": 19,
                "type": "num"
            },
            {
                "label": "8 p.m.",
                "value": 20,
                "type": "num"
            },
            {
                "label": "9 p.m.",
                "value": 21,
                "type": "num"
            },
            {
                "label": "10 p.m.",
                "value": 22,
                "type": "num"
            },
            {
                "label": "11 p.m.",
                "value": 23,
                "type": "num"
            },
            {
                "label": "12 midnight",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "waking_up",
        "topicType": "flow",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "12417682.f65989"
            ]
        ]
    },
    {
        "id": "9983b0d8.92bd58",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "set flow",
        "rules": [
            {
                "t": "set",
                "p": "sleep_time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "12417682.f65989",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "set flow",
        "rules": [
            {
                "t": "set",
                "p": "waking_up",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "26abc7db.65a19",
        "type": "ui_dropdown",
        "z": "bf664f9e.1201b8",
        "name": "",
        "label": "Refill gap",
        "tooltip": "",
        "place": "Select option",
        "group": "d972f6a2.47216",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "3 sec.",
                "value": 1,
                "type": "num"
            },
            {
                "label": "30 sec.",
                "value": 2,
                "type": "num"
            },
            {
                "label": "1 min.",
                "value": 3,
                "type": "num"
            },
            {
                "label": "2 min.",
                "value": 4,
                "type": "num"
            },
            {
                "label": "6 min.",
                "value": 5,
                "type": "num"
            },
            {
                "label": "12 min.",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "refill_gap",
        "topicType": "flow",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "53fbc55.af1d7bc"
            ]
        ]
    },
    {
        "id": "53fbc55.af1d7bc",
        "type": "change",
        "z": "bf664f9e.1201b8",
        "name": "set flow",
        "rules": [
            {
                "t": "set",
                "p": "refill_gap",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "659c2d6c.78db9c",
        "type": "function",
        "z": "bf664f9e.1201b8",
        "name": "timeToSleep",
        "func": "var downlink;\n\nvar currentTime = new Date(msg.payload.received_at);\n\nvar sleep_time = flow.get(\"sleep_time\");\nvar waking_up = flow.get(\"waking_up\");\n\nvar hours = currentTime.getHours();\nvar timeToSleep;\n\nif ((hours >= sleep_time) || (hours < waking_up)){ //start & end of sleep mode (e.g. 21h-6h)\n    timeToSleep = true;\n}\nelse{\n    timeToSleep = false;\n}\n\n\nvar refill_gap = flow.get(\"refill_gap\");\n\nif (timeToSleep == false){\n    \n    if (refill_gap == 1){\n        downlink = \"AQ==\"; //base64: 01\n    }\n    \n    if (refill_gap == 2){\n        downlink = \"Ag==\"; //base64: 02\n    }\n    \n    if (refill_gap == 3){\n        downlink = \"Aw==\"; //base64: 03\n    }\n    \n    if (refill_gap == 4){\n        downlink = \"BA==\"; //base64: 04\n    }\n    \n    if (refill_gap == 5){\n        downlink = \"BQ==\"; //base64: 05\n    }\n    \n    if (refill_gap == 6){\n        downlink = \"Bg==\"; //base64: 06\n    }\n}\n    \nelse{\n    downlink = \"AA==\" //base64:00\n}\n\n\nmsg.payload = {\n  \"downlinks\": [{\n    \"f_port\": 15,\n    \"frm_payload\": downlink,\n    \"priority\": \"NORMAL\"\n  }]\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "a6a813b5.feb9b8",
                "9c579745.7be0d"
            ]
        ]
    },
    {
        "id": "c0072397.aa5ca",
        "type": "mqtt-broker",
        "name": "",
        "broker": "dingnet-v3.icts.kuleuven.be",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "52a0f531.543efc",
        "type": "ui_group",
        "name": "Prototype",
        "tab": "b7a0e06e.3ad428",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": true
    },
    {
        "id": "fa4b2458.58f39",
        "type": "ui_group",
        "name": "Prototype",
        "tab": "ca7d446e.be1ff8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3fa0f04f.4a72c",
        "type": "ui_group",
        "name": "Prototype",
        "tab": "5ba3322.175bd4c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d972f6a2.47216",
        "type": "ui_group",
        "name": "Prototype",
        "tab": "9d5ad33e.9b8f28",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b7a0e06e.3ad428",
        "type": "ui_tab",
        "name": "Battery",
        "icon": "mi-battery_std",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca7d446e.be1ff8",
        "type": "ui_tab",
        "name": "Alarms",
        "icon": "mi-report_problem",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ba3322.175bd4c",
        "type": "ui_tab",
        "name": "Sleep time",
        "icon": "mi-nightlight_round",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d5ad33e.9b8f28",
        "type": "ui_tab",
        "name": "Refill gap",
        "icon": "mi-autorenew",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
